{% extends "bootstrap_base.html" %}
{% from "_render_field.html" import render_field %}
{% from "_render_field_no_label.html" import render_field_no_label %}

{% block app_content %}
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="title" class="modal-title">Confirm or Change Callback Address</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <form action="" method="post" class="form" role="form">
                {{ form.csrf_token() }}
                <div class="col-xs-10">
                    {{ render_field_no_label(form.endpoint) }}
                </div>
                <div class="col-xs-2">
                    <button type="submit" id="PlaceCall" class="btn btn-success float-right"><img src="{{ url_for('static', filename='audio-video_28@3x.png') }}" height="20"></button>
                </div>
            <p style="display: none">{{form.callid}}</p>
            <p style="display: none">{{form.tenant_id}}</p>
            <p></p>
            </form>               
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="PatientModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="title" class="modal-title">Invite Patient</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <p>
                <textarea id="Patient_Invite" value="" readonly style="width: 75%; margin-right: 5pt;"></textarea>
                <button type="button" class="btn btn-link" id="copy" ><img src="{{ url_for('static', filename='copy_24@3x.png') }}" style="width: 20%; padding-bottom: 20pt;"></button>
            </p>              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-1 col-md-2 col-lg-3"></div>
        <div class="col-xs-10 col-md-8 col-lg-6" style = "text-align: center; padding: 10pt;"> 
            <h2>{{ tenant }}</h2>
        </div>
    <div class="col-xs-1 col-md-2 col-lg-3">
        <br>
        <br>
        <button type="button" class="btn btn-secondary float-right" id="refresh">Refresh</button>
        <button type="button" class="btn btn-secondary float-right" data-toggle="modal" data-target="#PatientModal" style="width: 120pt; margin-right: 10pt;" id="Invite">Invite Patient</button>
    </div>
</div>
<div class="row">
    <div class='col-md-6'>
        <ul class="list-group">
            {% if waiting_calls > 0 %}
                {% for participant, call_id, duration, space_id in waiting %}
                        <li class="list-group-item" style="height: 100pt;">{{ participant + " (Arrived " + duration + " minutes ago)" }}
                            <button type="button" class='btn btn-primary float-right' command=True style="width: 100pt;" name="{{ space_id }}" id="Tfr_{{ call_id }}"> > Transfer</button>
                            <br>
                            <br>
                            <button type="button" class='btn btn-danger align-bottom float-right' command=True style="width: 100pt;" name="{{ space_id }}" id="Drop_{{ call_id }}">Disconnect</button>
                        </li> 
                {% endfor %}
            {% else %}
                <li class="list-group-item" style = "text-align: center; height: 100pt;">There are no patients in the waiting room</li>
            {% endif %}
        </ul>
    </div>
    <div class='col-md-6'>
        <ul class="list-group">
            {% if active_calls > 0 %}
                {% for participant, call_id, duration, space_id, uri, passcode, link, owner in active %}
                        <li class="list-group-item" style="height: 100pt;">{{ participant + " (Arrived " + duration + " minutes ago)" }}
                            <a href="{{ link }}" target="_blank" class='btn btn-primary float-right' style="width: 120pt;" role="button">Join from Browser</a>
                            <br>
                            <br>
                            <a href="{{ 'sip:' + uri + '@nsd5.ciscolabs.com'}}" target="_blank" class='btn btn-info float-right' style="width: 120pt;" role="button">Join from Client</a>
                            PIN: {{ passcode }}
                            <br>
                            <br>
                            <button type="button" class="btn btn-secondary float-right" data-toggle="modal" data-target="#myModal" style="width: 120pt;" call_id="{{ call_id }}" id="CallMe">Call Me</button>
                            <button type="button" class='btn btn-danger align-bottom' command=True style="width: 120pt;" name="{{ space_id }}" id="Drop_{{ call_id }}">Disconnect</button>
                        </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item" style = "text-align: center; height: 100pt;">Your consultation room is empty</li>
            {% endif %}
        </ul>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8"> 
$(document).ready(function () {
    $("button").click(function () {
        if ($(this).attr("command")) {
            var data = {
                command: $(this).attr("id"),
                space_id: $(this).attr("name")
            }
            $.post("sendcmd",
            data,
            function(data,status){
            console.log("Data: " + data['result'] + "\nStatus: " + status);
            window.location.reload();
            });
        } else if ($(this).attr("id") == "CallMe") {
            document.getElementById("callid").value = $(this).attr("call_id");
        } else if ($(this).attr("id") == "Invite") {
            var data = {
                tenant_id: document.getElementById("tenant_id").value
            }
            $.post("create_link",
            data,
            function(data,status){
                document.getElementById("Patient_Invite").value = data['link']
                console.log("Data: " + data['link'] + "\nStatus: " + status);
            });
        } else if ($(this).attr("id") == "copy"){
            var copyText = document.getElementById("Patient_Invite");
            copyText.select();
            copyText.setSelectionRange(0, 99999); /*For mobile devices*/
            document.execCommand("copy");
        }
        else if ($(this).attr("id") == "refresh") {
            window.location.reload();
        }
    });
});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}